/* 

 li{
    list-style-type: none;
    text-decoration: none;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
} 


 @media(max-width:768px){
    p{
        background-color: lemonchiffon;
    }  */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(166, 208, 138, 0.572);
    box-shadow: 0 0.5px 2px ;
    border-radius: 5px;

}

.box{
    border-radius: 10px;
    box-shadow: 0 2px 3px ;
    background-color: aquamarine;
    display: none;

}
.hamburger{

    cursor: pointer;
}
@media(min-width:768px){
    .hamburger{
        display: none;
    }
    .box{
        width: auto;
    }
}



