/* 

 li{
    list-style-type: none;
    text-decoration: none;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
} 


 @media(max-width:768px){
    p{
        background-color: lemonchiffon;
    }  */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box{
    display: none;

}
.hamburger{
    cursor: pointer;
}
@media(min-width:768px){
    .hamburger{
        display: none;
    }
    .box{
        width: auto;
    }
}



